<header id="section-home">
  <nav class="container">
    <!-- <div class="main-menu"> -->
    <div class="top-menu">
      <!-- LOGO -->
      <a href="">
        <img class="logotyp animate__animated animate__tada" src="./images/header/logo-min.png" srcset="
            ./images/header/logo-min.png    1x,
            ./images/header/logo@2x-min.png 2x
          " alt="logotype" width="199" height="50" />
      </a>
      <ul class="top-menu__list list">
        <li class="top-menu__item">
          <a href="#section-home" class="top-menu__link link">Home</a>
        </li>
        <li class="top-menu__item">
          <a href="#section-about-us" class="top-menu__link link">About us</a>
        </li>
        <li class="top-menu__item">
          <a href="#section-how-its-made" class="top-menu__link link">How it's made?</a>
        </li>
        <li class="top-menu__item">
          <a href="#section-products" class="top-menu__link link">Our products</a>
        </li>
        <li class="top-menu__item">
          <a href="#section-contact" class="top-menu__link link">Contact</a>
        </li>
      </ul>
      <button type="button" class="top-menu__order_btn">
        Buy now
        <svg class="top-menu__order_svg" width="10" height="10">
          <use href="./images/header/sprite__header.svg#icon-vector" width="8" height="10"></use>
        </svg>
      </button>
    </div>

    <!-- CROSS-BURGER-BUTTON -->
    <button type="button" class="drop-menu__button" data-menu-button>
      <svg class="drop-menu__svg" width="20" height="20">
        <use href="./images/header/sprite__header.svg#icon-burger" width="20" height="12" class="drop-menu__svg_burger">
        </use>
        <use href="./images/header/sprite__header.svg#icon-cross" width="14" height="14" class="drop-menu__svg_cross">
        </use>
      </svg>
    </button>

    <!-- ===========DROP-MENU============================== -->
    <div class="drop-menu" data-menu>
      <button type="button" class="drop-menu__order_btn">
        Buy now
        <svg class="drop-menu__order_svg" width="10" height="10">
          <use href="./images/header/sprite__header.svg#icon-vector" width="8" height="10"></use>
        </svg>
      </button>
      <ul class="drop-menu__list list">
        <li class="drop-menu__item">
          <a href="#section-home" class="drop-menu__link link">Home</a>
        </li>
        <li class="drop-menu__item">
          <a href="#section-about-us" class="drop-menu__link link">About us</a>
        </li>
        <li class="drop-menu__item">
          <a href="#section-how-its-made" class="drop-menu__link link">How it's made?</a>
        </li>
        <li class="drop-menu__item">
          <a href="#section-products" class="drop-menu__link link">Our products</a>
        </li>
        <li class="drop-menu__item">
          <a href="#section-contact" class="drop-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </nav>
</header>