<section class="hero">
  <p class="hero__slogan">
    ice cream made with <span class="hero__slogan_accent">passion</span>
  </p>
  <ul class="hero__btn list">
    <li class="hero__btn_product"><a href="" class="link">Products</a></li>
    <li class="hero__btn_how-to"><a href="" class="link">How it's made?</a></li>
  </ul>

  <ul class="list">
    <li class="hero__info"><span class="hero__info_accent">16</span> cafes</li>
    <li class="hero__info">
      <span class="hero__info_accent">23</span>food trucks
    </li>
  </ul>
  <p class="hero__product">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
</section>
