<section id="section-about-us" class="hero">
  <div class="container hero-container">
    <div class="hero__top">
      <div class="left">
        <h1 class="hero__slogan">
          ice cream made with <span class="hero__slogan_accent">passion</span>
        </h1>
        <ul class="hero__btn list">
          <li class="hero__btn_i-product">
            <a
              href="#section-products"
              class="link hero__btn_l-product scrollto"
              >Products</a
            >
          </li>
          <li class="hero__btn_i-howto">
            <a
              href="#section-how-its-made"
              class="link hero__btn_l-howto scrollto"
              >How it's made?</a
            >
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="list">
          <li class="hero__info_accent">16</li>
          <li class="hero__info">cafes</li>
          <li class="hero__info_accent">23</li>
          <li class="hero__info">food trucks</li>
        </ul>
      </div>
    </div>
    <div class="hero__product">
      <p class="hero__product_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="" class="link hero__product_link">
        <img src="./images/hero/arrow-right-min.png" alt="" />
      </a>
    </div>
  </div>
</section>
