<section class="reviews-page">
    <div class="reviews container">
        <div class="reviews__slide">
            <img class="img reviews__image" src="./images/reviews/client1.png" width="85px" height="85px" alt="client1">
            <ul class="reviews__list list">
                <li class="reviews__item">
                    <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </li>
                <li class="reviews__item">
                    <p class="reviews__location">Emily, Los Angeles</p>
                </li>
            </ul>        
        </div>
        <div class="reviews__slide">
            <img class="img reviews__image" src="./images/reviews/client2.png" width="85px" height="85px" alt="client2">
            <ul class="reviews__list list">
                <li class="reviews__item">
                    <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </li>
                <li class="reviews__item">
                    <p class="reviews__location">Jessica, Boston</p>
                </li>
            </ul>
        </div>
        <div class="reviews__slide">
            <img class="img reviews__image" src="./images/reviews/client3.png" width="85px" height="85px" alt="client3">
            <ul class="reviews__list list">
                <li class="reviews__item">
                    <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </li>
                <li class="reviews__item">
                    <p class="reviews__location">Emmy, New York</p>
                </li>
            </ul>
        </div>   
    </div>
</section>