<section class="reviews-page">
    <div class="reviews container">
        <img class="img reviews__image" src="./images/reviews/client1-min.png" width="85px" height="85px" alt="">
        <ul class="reviews__list list">
            <li class="reviews__item">
                <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__location">Emily, Los Angeles</p>
            </li>
        </ul>
    </div>
</section>