<div class="slider">
  <div class="slider__item">
    <div class="reviews container">
      <img
        class="reviews__image"
        src="./images/slider/testimonials1-min.png"
        alt="testimonial1"
        srcset="
          ./images/slider/testimonials1-min.png    1x,
          ./images/slider/testimonials1@2x-min.png 2x
        "
      />
      <ul class="reviews__list list">
        <li class="reviews__item">
          <p class="reviews__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </li>
        <li class="reviews__item">
          <p class="reviews__location">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="slider__item">
    <div class="reviews container">
      <img
        class="reviews__image"
        src="./images/slider/testimonials2.png"
        alt="testimonial2"
        srcset="
          ./images/slider/testimonials2.png        1x,
          ./images/slider/testimonials2@2x-min.png 2x
        "
      />

      <ul class="reviews__list list">
        <li class="reviews__item">
          <p class="reviews__comment">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero
            deleniti incidunt? Delectus, inventore dolorem a ipsa at aspernatur
            quae laboriosam fugiat consectetur, voluptatem error.
          </p>
        </li>
        <li class="reviews__item">
          <p class="reviews__location">Tetiana, Miami</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="slider__item">
    <div class="reviews container">
      <img
        class="reviews__image"
        src="./images/slider/testimonials3-min.png"
        alt="testimonial3"
        srcset="
          ./images/slider/testimonials3-min.png    1x,
          ./images/slider/testimonials3@2x-min.png
        "
      />
      <ul class="reviews__list list">
        <li class="reviews__item">
          <p class="reviews__comment">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            deserunt fuga ipsa temporibus, sequi voluptas eveniet cumque nihil?
            Provident quos distinctio corrupti. Distinctio, perferendis autem.
          </p>
        </li>
        <li class="reviews__item">
          <p class="reviews__location">Irin, New Yoork</p>
        </li>
      </ul>
    </div>
  </div>
</div>
