// ==============MAIN=RULES====================
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.logotype {
  width: 199px;
  height: 50px;
}
.drop-menu__order,
.drop-menu__order_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 23px auto 19px auto;
  display: block;
  border: none;
  outline: none;
  width: 186px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.132;
  text-align: center;
  color: #d41443;
  &_svg {
    margin-left: 30px;
  }
}

// ================MOBILE=======================
@media screen and (max-width: 510px) {
  .mobile__header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logotype {
    margin-top: 6px;
  }

  .drop-menu__order_header {
    display: none;
  }
}

// ============DROP_MENU==========================
.drop-menu {
  display: none;
  &.is-open {
    display: block;
  }
}
header .container {
  position: absolute;
}
.drop-menu__button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.drop-menu__button .drop-menu__svg_cross {
  display: none;
}

.drop-menu__button.is-open .drop-menu__svg_cross {
  display: block;
}

.drop-menu__button.is-open .drop-menu__svg_burger {
  display: none;
}

.drop-menu {
  background-color: #e17992;
  width: 100%;
  height: 100vh;
  padding-top: 23px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.drop-menu__item {
  display: block;
  height: 42px;
  text-align: center;
  border-bottom: 1px solid #e18298;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #ffffff;
  &:hover,
  &:focus {
    color: #d41443;
  }
}

// =================================================

// ===============TABLET=====================
@media screen and (min-width: 768px) {
  .tablet-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-header {
    max-width: 510px;
  }
}
