/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  list-style: none;
  margin-right: 18px;
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  //   background-color: greenyellow;
  background-color: D9D9D9;
  border-radius: 50%;
  border: none;
  outline: none;
}
.slick-dots li.slick-active button {
  background-color: transparent;
  background-image: url('../images/slider/house.svg');
  background-size: 12px 12px;
}
